<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="stylesheet" href="/style.css">
        <title>Todo</title>
    </head>
    <body>
        <div id='container'>
            <header>
                <h1>Chart-r</h1>
                <nav>
                    <a href="/">Home</a>
                    <a href="/documentation">Documentation</a>
                    <a href="/todo">Todo</a>
                </nav>
            </header>
            <div id="toDo">
                <h2>- Todo List -</h2>

                <hr/>
                <h3>< Equation ></h3>
                <h4>
                    -- Work on app to works with exponential function, logarithmic function and
                    many others.
                    <br/>
                    -- Make the app to work on other variable name, not just 'x'.
                </h4>

                <hr/>
                <h3>< Scaling ></h3>
                <h4>
                    -- Make the canvas to have scaling with zooming out or zooming in, instead of 
                    giving a number to each axis.
                </h4>

                <hr/>
                <h3>< Line/Points ></h3>
                <h4>
                    -- Make the Line chart to works properly on Infinity outputs.
                </h4>

                <hr/>
                <h3>< Speed of drawing ></h3>
                <h4>
                    -- Works on how to change the speed during the chart is being drawn.
                </h4>

            </div>
        </div>
    </body>
</html>