@import url("https://fonts.googleapis.com/css2?family=Oswald&display=swap");

* {
  box-sizing: border-box;
  font-family: "Oswald", sans-serif;
}

body {
  background-color: gray;
}
#container {
  max-width: 960px;
  width: 100%;
  margin: 20px auto;
  border: 1px solid black;
  padding: 10px;
  border-radius: 15px;
  background-color: #bbb;
  box-shadow: 0 0 25px black;
}
header {
  background-color: green;
  padding: 25px;
  color: white;
}

h1 {
  text-align: center;
}

p {
  width: 100%;
  height: 30px;
  margin-bottom: 1px;
  border: 1px solid green;
}

input,
select {
  width: 50%;
  height: 100%;
  padding: auto;
}
button {
  width: 30%;
  margin-top: 20px;
  background-color: green;
  color: white;
  box-shadow: 0 0 7px black;
}
label {
  line-height: 30px;
}
#form {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  height: 50%;
}
#inlineDiv {
  display: inline-block;
  width: 40%;
  border: 3px solid green;
  vertical-align: top;
  padding: 10px;
  background-color: #ddd;
  box-shadow: 0 0 15px black;
}
#forms {
  width: 90%;
  margin: 25px auto;
  text-align: center;
}
#canvas {
  margin-top: 150px;
  border: 1px solid black;
  box-shadow: 0 0 25px black;
  max-width: 860px;
  max-height: 700px;
}
#scaleXValue,
#scaleYValue {
  background-color: gray;
}
#canvasDiv {
  width: 100%;
  text-align: center;
  margin-bottom: 25px;
}

#legend,
#drawing,
#computing {
  max-width: 400px;
  width: 100%;
  border: 3px solid green;
  margin: 0 auto;
  text-align: center;
  display: none;
}
a {
  padding: 5px;
  color: white;
  text-decoration: none;
}
a:hover {
  color: rgb(146, 220, 146);
  text-decoration: underline;
}
#documentation,
#toDo {
  border: 1px solid white;
  padding: 5px;
  margin: 25px auto;
}
span {
  color: green;
}
#points {
  width: 80%;
}
